<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.drl.lutz.sosmehringplatzapp" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.activities.SelectInputActivity"
            android:label="@string/title_activity_select_input"
            android:parentActivityName=".main.activities.MainActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".main.activities.TextActivity"
            android:label="@string/title_activity_text"
            android:parentActivityName=".main.activities.SelectInputActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".main.activities.SubmitActivity"
            android:label="@string/title_activity_submit"
            android:parentActivityName=".main.activities.SelectInputActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".main.activities.SoundRecorderActivity"
            android:label="@string/title_activity_sound_recorder"
            android:parentActivityName=".main.activities.SelectInputActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".main.activities.UploadActivity"
            android:label="@string/title_activity_upload"
            android:parentActivityName=".main.activities.SubmitActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".main.activities.CaptureImageActivity"
            android:parentActivityName=".main.activities.SubmitActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_capture_image" >
        </activity>
    </application>

</manifest>
