@font-face {
    font-family: Titillium;
    src: url("fonts/TitilliumWeb-Regular.ttf");
}

body {
    background-color: #000;
    margin:0;
    overflow-x: none;
    overflow-y: auto;
    font-family: Titillium;
    color:#fff;
    font-size:14pt;
}

a {
    color:#fff;
    text-decoration: none;
    font-size: 12pt;
}

a:hover {
    color:#FD693C;
}

.page {
    overflow:hidden;
    width:100%;
}

.content {  
    padding:20px;
}

#about {
    background-color: #fff;
    color:#000;
}

#manifest {
    background-color: #212121;
    color:#fff;
}

#popupContainer {
    position:absolute;
    width:100%;
    height:100%;
    pointer-events:none;
    overflow:hidden;
}

.header {
    position: absolute;
    top:0px;
    color: #fff;
}

.header .title {
    padding:20px;
    float:left;
}

.links {
    position:absolute;
    padding:20px;
    right:0px;
    text-align: right;
}

.header h1 {
    margin:0px;
}

.footer {
    position: absolute;
    bottom:0px;
    padding:20px;
}

.footer img {
    width: 600px;
}

h1 {
    text-align: left;
    font-size: 20pt;
}

.gray {
    color: #777;
    margin:0px;
}

/* svg canvas */

#svg {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
}

circle {
    stroke: #000;
    stroke-opacity: 0.3;
}

.particle {
    cursor: pointer;
}

.hover {
    fill: #fff !important;
}

/* popup */

#popup {
    position: relative;
    color: #000;
    top: 0px;
    left: 0px;
    width:500px;
    height:500px;
    display: none;
    pointer-events: none;
}

.circleImage {
    margin-top:0px;
    margin-left:0px;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    background-size: auto 500px;
    opacity: 0.5;
}

.popupText {
    position: absolute;
    top: 0px;
    left: 50px;
    padding: 0 50px 0 50px;
    margin: 50px 0 50px 0;
    width: 300px;
    height: 360px;
    overflow-y:hidden;
}

#popup h1 {
    text-align: center;
    font-size: 28pt;
    margin:0px;
}

#popup p {
    margin:8px;
    color:#000;
}

#popup .author {
    text-align: right;
    font-style: italic;
}

#popup .image {
    text-align: center;
    padding-top: 80px;
    height: 150px;
}

#popup .image img {
    width: 100px;
}

/* animations */

#flash-overlay {
    position: absolute;
    background-color: #fff;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    display:none;
}

.flash {
    animation-name: fadeInFromNone;
    animation-duration: 0.25s; 
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    50% {
        display: block ; 
        opacity: 1;
    }

    99% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

/* about page */

.images {
    /*text-align: center;*/
    padding:20px;
}

.images img {
    height:260px;
}

.text {
    font-size: 12pt;
    padding:20px;
    color:#ccc;
    /*-webkit-column-width: 350px;
    -moz-column-width: 350px;
    column-width: 350px;*/
    min-height:300px;
}

.black {
    color: #333;
}

.text p {
    padding:0 0 20px 0;
    margin:0px;
}

/* manifest page */

.submission-list {
    overflow:none;
}

.submission p {
    position: relative;
    font-size: 20pt;
    height:250px;
    top: 45px;
    padding:10px;
}

.submission p:before {
    content: "»";
    padding-right:2px;
}

.submission p:after {
    content: "«";
    padding-left:2px;
}

.submission:nth-child(even) p {
}

.submission:nth-child(odd) p {
    text-align:right;
}

.circle {
    width:200px;
    height:200px;
    border-radius: 100px;
    margin:20px;
}

.circle img {
    width:192px;
    height:192px;
    border-radius:100px;
    padding:4px;
}

.submission:nth-child(odd) .circle {
    float:right;
}

.submission:nth-child(even) .circle {
    float:left;
}

.yellow {
    background-color: #FFFF66;
}

.red {
    background-color: #fd693c;
}

.green {
    background-color: #66FF66;
}

/* helpers */

.avoid-clicks {
  pointer-events: none;
}